<%- include('partials/header') -%>

<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p>Welcome, <%= user.firstName %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <br><br>

          <form action="/timer" method="GET">
          Let's 
            <select name="selectedTask" id="selected-tasks">
              <% for(var i=0; i<tasks.length; i++) {%>
              <option value=<%= tasks[i]._id%>><%= tasks[i].task%></option>
              <% } %>
            </select>
          for 
            <span class="form-example">
              <label for="minutes"></label>
              <input type="number" name="minutes" id="name" value="5" max="180" required>
            </span>
          minutes.
          <br><br>
            <div class="form-buttom">
              <input type="submit" value="Okay!">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>