<%- include('partials/header') -%>

<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p>Welcome, <%= user.firstName %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <p></p>


          Let's 
            <select name="selectedTask" id="selected-tasks">
              <% for(var i=0; i<tasks.length; i++) {%>
              <option value=<%= tasks[i]._id%>><%= tasks[i].task%></option>
              <% } %>
            </select>
          for 5 minutes.
          </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>