<%- include('partials/header') -%>

    <!-- list of tasks with the ability to delete -->
    <h1>Tasks</h1>
    <ul>
    <% tasks.forEach( el => { %>
            <li class='taskItem' data-id='<%=el._id%>'>
                <span><%= el.task %></span>
                <span class='del'>
                    <form
                    action="/deleteTask/<%= el.id %>?_method=DELETE"
                    method="POST"
                    class="col-3"
                    >
                    <button class="btn btn-primary fa fa-trash" type="submit"></button>
                  </form>
                </span>
            </li>
    <% }) %>    
    </ul>

    <!-- form for new task intake -->

    <form action="/taskupdate" method='POST'>
        <input type="text" placeholder="Enter task" name='taskItem'>
        <input type="submit">
    </form>


<%- include('partials/footer') -%>